*.iml
.gradle
/local.properties
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/vpncore.aar
/app/libs/vpncore-sources.jar
/core/gomobile/libs/vpncore-classes.jar
/goAndroidBuild/
/design/
**/build/
**/release/
/.kekes
/.kotlin
