*.iml
.gradle
/local.properties
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/core/gomobile/libs/
/goAndroidBuild/
/design/
**/RULES.md
**/build/
**/release/
/.kekes
/.kotlin
